<button class="@GetButtonClass()">
    @Name
</button>

@code {
    [Parameter] public string Name { get; set; } = string.Empty;

  
    [Parameter] public string Variant { get; set; } = "primary";

    private string GetButtonClass()
    {
        return Variant switch
        {
            "primary" => "btn-primary",
            "outline-danger" => "btn-outline-danger",
            _ => "btn-primary"
        };
    }
}